<!DOCTYPE html>
<html>
<head>
    <title>Foodie App</title>
    
  

<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.lineicons.com/1.0.1/LineIcons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link href="https://fonts.googleapis.com/css?family=Leckerli+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
   <link rel="icon" href="img/thumbs-up.svg" type="image/x-icon"/>
   
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>

      
                body
                {
                    color:white;
                    font-family: 'Roboto', sans-serif;
                }
                .main 
                {
                    width:100vw;
                    height:100vh;
                    background:url('img/main.webp');
                    background-repeat:no-repeat;
                    background-size:cover;
                }
                .box 
                {
                    background-color:transparent;
                    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.5), 0 5px 15px 0 rgba(0,0,0,0.3);
                    position:absolute;
                    transform:translate(25%);
                    margin-top:100px;
                    width:700px;
                    height:500px;
                    border-radius:10px;

                }
                input
                {
                    text-align:center;
                    border-radius:20px;
                    border:none;
                    outline:none;
                    height:50px;
                    width:250px;

                }
                .btn 
                {
                    border:none;
                    background-color:transparent;
                    color:white;
                    border:2px solid white;
                    border-radius:20px;
                    padding:10px 10px;
                    width:150px;
                    margin-left:10px;
                }
                .btn:hover 
                {
                    color: #fff;
                    border-color: #e75264;
                    background: #e75264;

                }
                </style>
</head>
<body>
<div class="main">
    <div class="container">
        <div class="col-12">
            <div class="box">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <img src="img/thumbs-up.svg" style="height:100px;width:100px;float:center;transform:translate(300px);margin-top:30px;">
                        </div>
                        <div class="col-12" style="text-align:center;font-weight:bold;font-family: 'Leckerli One', cursive;">

                            <h1 style="font-size:60px;">Restaurant</h1>
                            <h1 style="font-size:60px;">Review</h1>
                        </div>
                        <div class="col-12" style="text-align:center;font-weight:bold;">

                            <h1 style="font-size:20px;">YOUR GUIDE TO GOOD</h1>
                            <h1 style="font-size:20px;">RESTAURANTS</h1>

                        </div>

                        <div class="col-12">

                            <div style="text-align:center;color: #b3b2b2;"> Find and share restaurant reviews</div>
                            <form style="text-align:center;margin-top:20px;">

                                <input type="text" name="find" placeholder="Search the Restaurants....">
                                <button type="submit" class="btn">Search</button>
                            </form>
                        </div>
                  </div>
                </div>
              

            </div>

        </div>
    </div>

</div>
   
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>