<!DOCTYPE html>
<html>
<head>
<title>Foodie Restaurant Review</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.lineicons.com/1.0.1/LineIcons.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
<link href="https://fonts.googleapis.com/css?family=Leckerli+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<link rel="icon" href="img/thumbs-up.svg" type="image/x-icon"/>
   
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.lineicons.com/2.0/LineIcons.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<style>
.comment 
{
    display:none;
    color:black;
    font-size:40px;
    margin-top:10px;
    text-align:center;
}
.second
{
    background:url('img/third_div.jpg');
    background-size:cover;
    height:120vh;
    background-position: center;
    background-repeat: no-repeat;
    width:100%;
}
.button 
 {
     border:none;
     background: #e75264;
     color:white;
     border:2px solid white;
    border-radius:20px;
    padding:10px 10px;
    width:100px;
                    
}

.star-rating {
    direction: rtl;
    display: inline-block;
    padding: 20px
}

.star-rating input[type=radio] {
    display: none
}

.star-rating label {
    color: #bbb;
    font-size: 30px;
    padding: 0;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input[type=radio]:checked ~ label {
    color: #f2b600
}
.details
   { 
box-shadow: 0 5px 15px 0 rgba(0,0,0,0.1), 0 5px 15px 0 rgba(0,0,0,0.1);
                    /* position:absolute; */
                    /* transform:translate(40%); */
                    border-radius:10px;
   }
</style>
</head>
<body>
<div class="second">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-lg-3 col-xs-12"></div>
            <div class="col-lg-6 col-xs-12 col-sm-6">
            <div class="container-fluid" style="text-align:center;margin:10px auto;width:auto;height:auto;">
                <div class="row">
                        <div>
                            <img src="img/img3.webp" style="width:100%;height:100%;">
                        </div>
                        <div style="background-color:white;">
                            <div class="row">
                                <div class="col-lg-12 col-xs-6">
                                    <div style="text-align:center;margin-top:20px;color:#b3b2b2;;font-size:20px;line-height:20px;padding:10px;">Share your food experiences with stars and comments.</div>

                                </div>
                                <div class="col-12">
                                    <div style="margin-top:10px;padding:20px;">
                                        <img src="img/star.svg" style="height:50px;width:50px;">
                                        <img src="img/star.svg" style="height:50px;width:50px;">
                                        <img src="img/star.svg" style="height:50px;width:50px;">
                                        <img src="img/star.svg" style="height:50px;width:50px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-lg-3 col-xs-12"></div>
        </div>
    </div>
</div>
<div class="container-fluid" style="margin-top;20px">
    <div id="restaurant">

    </div>
</div>
<div class="container-fluid" style="margin-top:20px;">
    <div class="row">
        <div class="col-lg-2 col-xs-12 col-md-12 col-sm-12"></div>
        <div class="col-lg-8 col-xs-12 col-md-12 col-sm-12" style="height:auto;">
                <div class="row">
                    <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12">
                        
                       <div style="width:auto;height:300px;margin-top:10px;text-align:left;box-shadow: 0 5px 15px 0 rgba(0,0,0,0.1), 0 5px 15px 0 rgba(0,0,0,0.2);border-radius:10px;">
                           <form class="form" action="/submit" method="post" style="text-align:left;">
                                <div style="text-align:center;font-size:30px;font-family: 'Roboto', sans-serif;margin-top:10px;font-weight:normal;">Post a Review   <i class='lni lni-pencil' style="font-size:25px;"></i></div>
                                <div class="col-12" style="font-size:30px;">
                                    <div class="star-rating">
                                         <input id="star-5" type="radio" name="rating" value="5" />
                                         <label for="star-5" title="5 stars"><i class="active fa fa-star" aria-hidden="true"></i> </label>
                                         <input id="star-4" type="radio" name="rating" value="4" /><label for="star-4" title="4 stars"><i class="active fa fa-star" aria-hidden="true"></i></label>
                                         <input id="star-3" type="radio" name="rating" value="3" />
                                         <label for="star-3" title="3 stars"><i class="active fa fa-star" aria-hidden="true"></i></label>
                                         <input id="star-2" type="radio" name="rating" value="2" />
                                         <label for="star-2" title="2 stars"><i class="active fa fa-star" aria-hidden="true"></i></label>
                                         <input id="star-1" type="radio" name="rating" value="1" />
                                         <label for="star-1" title="1 star"><i class="active fa fa-star" aria-hidden="true"></i></label>
                                    </div>
                                </div>
                                <div class="col-12" style="text-align:left;margin-top:20px;color:black;" >
                                    <textarea class="form-control" name="comment" placeholder="Leave your comments here...."></textarea>
                                </div>
                                <div class="col-12" style="text-align:left;margin-top:20px;color:black;" >
                                <button type="submit" class="button">Post</button>
                                </div>
                            </form>
                        </div>
                    </div>
              </div>  
        </div>
        <div class="col-lg-2 col-xs-12 col-md-12 col-sm-12"></div>
    </div>
</div>
<div id="comments" class="container-fluid comment" style="margin-top:20px;">No comments yet <i class='lni lni-comments-alt' style="color:black;font-size:30px;"></i></div>
<div class="container-fluid">
    <div class="row">

        <div class="col-lg-4 col-xs-12 col-md-4 col-sm-12">
            <div class="box" style="width:auto;height:auto;margin:auto auto;">
                 <div class="row">

                    <div class="col-12" style="font-size:40px;text-align:center;color:rgb(221, 112, 130);"><i class='lni lni-dinner'></i></div>
                    <div class="col-12" style="font-size:10px;color:black;text-align:center;">nsnskdnskdnksdnksndsndndandsanddnjadnasnd
                        sandjksadnsajkdnsandjksdnjkndadsabdjnsadjnsajkdndnjka
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-4 col-xs-12 col-md-4 col-sm-12">
            <div class="box" style="width:auto;height:auto;margin:auto auto;">
                <div class="row">

                    <div class="col-12" style="font-size:40px;text-align:center;color:rgb(221, 112, 130);"><i class='lni lni-heart-filled'></i></div>
                    <div class="col-12" style="font-size:10px;color:black;text-align:center;">nsnskdnskdnksdnksndsndndandsanddnjadnasnd
                        sandjksadnsajkdnsandjksdnjkndadsabdjnsadjnsajkdndnjka
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-4 col-xs-12 col-md-4 col-sm-12">
            <div class="box" style="width:auto;height:auto;margin:auto auto;">
                 <div class="row">

                    <div class="col-12" style="font-size:40px;text-align:center;color:rgb(221, 112, 130);"><i class='lni lni-restaurant'></i></div>
                    <div class="col-12" style="font-size:10px;color:black;text-align:center;">nsnskdnskdnksdnksndsndndandsanddnjadnasnd
                        sandjksadnsajkdnsandjksdnjkndadsabdjnsadjnsajkdndnjka
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="background-color:#3c3c3c;height:100%;">
     <div class="row">
         <div class="col-lg-6 col-sm-12 col-xs-12" style="text-align:left;color:inherit;font-family: 'Leckerli One', cursive;height:auto;color:white;">
            <div class="row">
                <div style="margin:auto auto;padding:15px 15px;">
                    <div class="col-12"> <img src="img/thumbs-up.svg" style="height:50px;width:50px;float:center;transform:translate(10px);margin-top:30px;"></div>
                    <div class="col-12" style="font-size:60px;width:auto;">Restaurant</div>
                    <div class="col-12" style="font-size:60px;width:auto;">Review</div>
                </div>
            </div>
         </div>
         <div class="col-lg-6 col-sm-12 col-xs-12" style="font-size:40px;font-family: 'Leckerli One', cursive;height:auto; color:white;">
            <div class="row">
                <div class="col-12">
                    <div style="text-align:center;margin-top:20px;">About The Developer</div>
                </div>
                <div class="col-12">
                    <div class="col-12" style="text-align:center;">
                    <img src="img/developer1.jpeg" style="width:150px;height:150px;border-radius:50%;">
                    </div>
                </div>
                <div class="col-12" >
                    <div style="text-align:center;margin-top:10px;">
                        <a href="https://www.linkedin.com/in/prateek-agarwal-44975a170/" style="text-decoration:none;" ><i class='lni lni-linkedin-original' style="color:white;"></i></a>
                         <a href="https://www.facebook.com/prateek.agarwal.927758" style="text-decoration:none;" ><i class='lni lni-facebook-oval' style="color:white;"></i></a>                     
                        <a href="https://github.com/prateek1406" style="text-decoration:none;" ><i class='lni lni-github-original' style="color:white;"></i></a>
                         <a href="https://www.instagram.com/prateek_agarwal14/" style="text-decoration:none;" ><i class='lni lni-instagram-original' style="color:white;"></i></a>
                        
                    </div>
                </div>
             </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
 <script>
 fetch('https://foodie-rate.herokuapp.com/send')
    .then(function (response) {
        return response.json();
    })
    .then(function (data) {
        console.log(data);
        var f=document.getElementById('restaurant');
      var name=document.createElement('div');
      name.setAttribute("class","col-12");
      name.setAttribute("style","text-align:center;font-size:40px;");
      var data1=document.createTextNode(data.name);
       name.appendChild(data1);
       var rate_value=document.createElement('div');
       rate_value.setAttribute("class","col-12");
       rate_value.setAttribute("style","text-align:center;font-size:20px;");
       var data2=document.createTextNode(data.rating+"  ");
       var q=document.createElement('i');
       q.setAttribute("class","lni lni-star-filled");
       q.setAttribute("style","font-size:20px;color:gold")
       rate_value.appendChild(data2);
       rate_value.appendChild(q);
       f.appendChild(name);
       f.appendChild(rate_value);

       var div=document.getElementById('comments');
        if((data.comments).length==0)
        {
            div.setAttribute("style","display:block");
        }
        else
        {
            var div=document.getElementById("main");
            var container=document.createElement('div');
            container.setAttribute("class","container-fluid");
            var row=document.createElement('div');
            row.setAttribute("class","row");
            let l=(data.comments).length;
            let array=data.comments;
            console.log(array);
            for(var i=0;i<l;i++)
            {
                var col=document.createElement('div');
                col.setAttribute("class","col-lg-4 col-md-6 col-sm-6 col-xs-12");
                var detail=document.createElement('div');
                detail.setAttribute("class","details");
                detail.setAttribute("style","width:auto;height:100px;margin:10px auto;");
                var row1=document.createElement('div');
                row1.setAttribute("class","row");
                var img_div=document.createElement('div');
                img_div.setAttribute("class","col-4");
                img_div.setAttribute("style","text-align:center;");
                var img=document.createElement('img');
                img.setAttribute('src',"img/user.svg");
                img.setAttribute("style","width:60px;height:60px;margin:20px auto;");
                img_div.appendChild(img);
                var comment=document.createElement('div');
                comment.setAttribute("class","col-8");
                comment.setAttribute("style","font-size:15px;margin:20px auto;");
                var data4=document.createTextNode(array[i]);
                comment.appendChild(data4);
                row1.appendChild(img_div);
                row1.appendChild(comment);
                detail.appendChild(row1);
                col.appendChild(detail);
                row.appendChild(col);
                
                }
                container.appendChild(row);
                div.appendChild(container);
                
        }




         })
    .catch(function (err) {
        console.log("Something went wrong!", err);
    });
 </script>
</body>
</html>















